﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div align="center">
    <h1 class="display-4">Услуги языковой школы</h1>
    <div>
        <table border="1">
            @foreach (Service service in Model.Services)
            {
                <tr>
                    <td><img src="~/img/laborant_1.jpeg" width="120" height="120" /></td>
                    <td>
                        <big>@service.Title</big><br /><br />
                        Стоимость: @service.Cost руб.<br />
                        Время выполнения: @((int) service.DurationInSeconds) сек.<br />
                        Скидка: @service.Discount руб.<br />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
